.post-section {
  width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 2px 5px;
}

.post-image {
  width: 100%;
  object-fit: fill;
}

.reaction {
  height: 30px;
}

.reaction i {
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  padding-left: 20px;
  color: #000;
}

.post-ownership {
  font-family: Poppins;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.userPhoto {
  width: 40px;
  height: 40px;
}
