.no_comment {
	font-family: var(--primaryfont);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	height: 300px;
	font-weight: 300;
}

.commentsWrapper {
	padding: 10px 20px;
	height: 24rem;
	overflow-y: scroll;
}

.commentsWrapper p {
	font-family: var(--primaryfont);
	font-weight: normal;
	scroll-behavior: smooth;
}
