.profile-page {
	width: 1000px;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
}
.profiler__card {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
	max-width: 100%;
	padding: 20px 10px;
	font-family: Poppins;
}
.follow {
	display: flex;
	margin-bottom: 20px;
}

.profile_avatar img {
	width: 150px;
}

.follow > * {
	margin-right: 2rem;
}
.posts_summary {
	display: flex;
}
.posts_summary > * {
	margin-right: 2rem;
}

.follow_btn,
.more_btn {
	background-color: #3896ef;
	color: #fff;
	padding: 10px 50px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
.more_btn {
	padding: 10px 5px;
}

.fullinfo {
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.fullinfo h3 {
	margin-right: 1rem;
}
