.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}

.profile {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 30% max-content;
  grid-column-gap: 15px;
  align-items: center;
}

.profile img {
  width: 100px;
  height: 100px;
}
