nav {
	background-color: #fff;
	font-family: Poppins;
	display: flex;
	justify-content: space-around;
	padding: 10px 20px;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

nav ul {
	list-style-type: none;
}

nav a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
}

nav a:hover {
	color: rgba(0, 0, 0, 0.3);
}
nav img {
	height: 30px;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}
