.snackBar {
	font-family: var(--primaryfont);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

.snackBar img {
	width: 60px;
	margin-right: 10px;
}

.userFullname {
	color: #545454;
	text-transform: capitalize;
	font-size: 0.8rem;
}
.snackProfileName {
	text-decoration: none;
	color: #000;
	font-size: 1.5rem;
}
