.postDetails {
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.postDetailsModal {
	width: 900px;
	height: 500px;
	background-color: #fff;
	display: flex;
}

.postDetailsModal img {
	width: 500px;
	height: auto;
}

.post_details_header {
	font-family: var(--primaryfont);
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}

.postDetailText {
	width: 24rem;
	padding: 20px 10px;
	position: relative;
}

.closeButton {
	font-size: 2rem;
	position: absolute;
	top: 1rem;
	outline: none;
	right: 1rem;
	border: none;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
}

.comment_box {
	position: absolute;
	bottom: 1rem;
	display: block;
	width: 23rem;
}
